body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /*backface-visibility: hidden;*/
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
        animation: MoveFromLeft 1.5s ease-out;

        @include respond(sm) {
            font-size: 5rem;
            
            letter-spacing: 1.5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
        animation: MoveFromRight 1.5s ease-out;

        @include respond(sm) {
            letter-spacing: .4rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary;
    display: inline-block;
    transition: all .2s;

    @supports (-webkit-background-clip: text) or (background-clip: text) {
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @include respond(md) {
        font-size: 3rem;
    }

    @include respond(sm) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: scale(1.1);
        //transform: skewY(2deg) skewX(10deg) scale(1.1);
        //text-shadow: .5rem .5rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @include respond(sm) {
        text-align: justify;
    }
}